body {
    font-family: Pangea, sans-serif;
    font-size: 14px;
    position: relative;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}

.jc-space-between {
    justify-content: space-between;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.form-controll-50 {
    flex-basis: 45%;
}
.form-controll-100 {
    flex-basis: 100%;
}

.d-none {
    display: none !important;
}
.d-block {
    display: block !important;
}

.pos-fixed {
    position: fixed !important;
}
