.site-header {
    position: fixed;
    /* display: none; */
    z-index: 90;
    width: 100%;
    background: #fff;
}
/* ///////////////////////////// TOPBAR ///////////////////////////// */

.topbar {
    background-color: #fff;
    color: #1d1d1d;
    align-items: center;
}

.menu-topbar-item {
    padding: 9px 8px;
}

.topbar-left .menu-topbar-item:first-child {
    background-color: #f0f0f0;
}

.menu-topbar-item:hover {
    background-color: #f0f0f0;
}

.menu-topbar-link {
    color: inherit;
    font-weight: 545;
}

.fa-star {
    color: #4c4c4c;
}

/* ///////////////////////////// TOPBAR-PROMOTION ///////////////////////////// */

.topbar-promotion{
    background: #525252;
}
.topbar-promotion a{
    text-align: center;
    display: block;
    color: #fff;
    padding: 9px 0px;
    font-weight: 525;
    letter-spacing: 0.5px;
}
.topbar-promotion a span{
    text-decoration: underline;
    padding: 0px 2px;
}
.fa-arrow-right{
    font-size: 10px;
}



/* ///////////////////////////// MENU ///////////////////////////// */

menu {
    margin: 0;
    padding: 0;
}
.wp-header{
    background: #212121;
    position: relative;
}
.logo-header{
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.menu-item{
    padding: 32px 16px;
}

.menu-item:first-child {
    background-color: rgb(245, 27, 86);
}
.menu-link{
    display: block;
    color: #ffff;
    text-transform: uppercase;
    padding: 2px 0px;
    cursor: pointer;
}
.menu-item:hover:not(.menu-item:first-child){
    background-color: #5c5c5c;
}
.menu-item:hover .wp-sub-menu{
    display: flex !important;
}
.tools{
    padding-left: 20px;
}
.form-search{
    display: flex;
    align-items: center;
}
.form-search form input[type='text']{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    padding: 10px 20px 10px 49px;
    position: relative;
    border: none;
}

.form-search form button{
    position: absolute;
    color: #333;
    z-index: 999;
    padding: 10px;
    border: none;
    background: none;
    margin-top: 3px;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.info-account{
    display: flex;
    align-items: center;
    color: #2f5acf;
    font-size: 26px;
    width: 30px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.active-info-account{
    display: block !important;
}

.cart{
    display: flex;
    align-items: center;
    color: #ffff;
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
}
.cart a i{
    color: #Fff;
}
.cart:hover .show-cart-buy{
    display: block;
}
.cart i span{
    width: 15px;
    height: 15px;
    background: yellow;
    border-radius: 16px;
    color: #333;
    font-size: 12px;
    text-align: center;
    position: absolute;
    top: 25px;
    left: 30px;
}


.wp-sub-menu{
    display: none;
    position: absolute;
    background: #fff;
    top: 82px;
    left: 0;
    right: 0;
    padding: 30px 15px;
    z-index: 10000000;
}

.sub-menu ul.follow-product, ul.mens-shirt, ul.mens-pants, ul.mens-accessories{
    flex-basis: 20%;
}
.sub-menu p {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 0 15px;
}
.sub-menu p span{
    display: block;
    border: 1px solid #333;
    width: 50px;
    margin: 15px 0px;
}
.sale-program{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
}
.sale-program li {
    margin-bottom: 20px;
    flex-basis: 50%;
}
.sale-program li:hover img{
    border: 2px solid #2f5acf;
}
.sale-program li:hover a{
    color: #2f5acf;
}
.sale-program li a{
    display: flex;
    align-items: center;
    color: #797373;
    justify-content: space-around;
}
.sale-program li a img{
    max-width: 40px;
    border-radius: 50px;
    flex-basis: 50%;
}
.sale-program li a span{
    padding-bottom: 10px;
    flex-basis: 50%;
    border-bottom: 1px solid #d5d5d5;
}
.sale-featured{
    display: flex;
}
.sale-featured li{
    flex-basis: 16%;
    margin: 0 25px;
}
.sale-featured li img:hover{
    transition: transform 0.5s;
    transform: scale(1.05,1.05);
}
.sale-featured li a{
    display: block;
    position: relative;
}
.sale-featured li a img{
    max-width: 183px;
    height: 243px;
}
.sale-featured li a span{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 16px;
    font-weight: 550;
}

.follow-product, .mens-shirt, .mens-pants , .mens-accessories {
    /* border-right: 1px solid #c3bcbc; */
    padding: 0px 5px;
    text-align: center;
}
.follow-product li, .mens-shirt li, .mens-pants li, .mens-accessories li{
    margin: 10px 0px;
}
.follow-product li a, .mens-shirt li a, .mens-pants li a, .mens-accessories li a {
    color: #333;
    margin: 4px 27px;
    display: block;
    padding: 7px 0px;
}
.follow-product li:hover a, .mens-shirt li:hover a, .mens-pants li:hover a, .mens-accessories li:hover a {
    color: #2f5acf;
}
.follow-product p, .mens-shirt p, .mens-pants p, .mens-accessories p {
    padding: 10px 0px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #d1cdcd;;
}
.featured-product{
    display: flex;
}
.featured-product li{
    margin: 0 10px;
}
.featured-product a{
    position: relative;
    display: block;
}
.featured-product a img{
    max-width: 250px;
    height: 180px;
}
.featured-product a:hover img{
    transition: transform 0.5s;
    transform: scale(1.05,1.05);
}
.featured-product a span{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    margin: 5px;
    color: #ffff;
    font-weight: bold;
    background: #212121;
    border-radius: 30px;
}

div.coolx-print h3{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
div.coolx-print p{
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    padding: 20px 0px;
}
div.coolx-print ul.coolx-print+a{
    display: block;
    text-align: center;
    background: #3737d4;
    color: #fff;
    font-weight: bold;
    margin: 15px 0px;
    padding: 14px 0px;
    border-radius: 20px;
}
div.coolx-print ul.coolx-print+a:hover{
    background: #1212b8 !important;
}
ul.coolx-print li{
    flex-basis: 30%;
    margin: 0 10px;
}
ul.coolx-print li a img{
    max-width: 150px;
    transition: opacity .3s ease-in-out;
}

div.coolx-print+ul.featured-product{
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: start;
    gap: 21px;
}

div.follow-product{
    flex-basis: 25%;
    border-right: 1px solid #aaa6a6;
}
div.follow-product p, div.collection p{
    border: none;
    padding: 0;
}
div.follow-product span, div.collection span {
    width: 20%;
    border-bottom: 2px solid #333;
    display: inline-block;
}
ul.follow-product li:hover a {
    color: #2f5acf;
}

div.collection{
    flex-basis: 20%;
    border-right: 1px solid #aaa6a6;
    padding: 0px 20px;
}
div.collection ul.collection li a{
    justify-content: start;
    align-items: center;
    color: #4a4848;
}
div.collection ul.collection li{
    padding: 5px 0px;
}

div.collection ul.collection li:hover a span{
    color: #2f5acf;
}
div.collection ul.collection li:hover a img{
    border: 2px solid #2f5acf;
}
div.collection ul.collection li a span{
    border: none;
    flex-basis: 75%;
    padding: 0px 10px;
}
div.care-share{
    flex-basis: 55%;
}
.collection li a img{
    width: 36px;
    height: 36px;
    border-radius: 50px;
    flex-basis: 15%;
    border: 2px solid #cac7c7;
}
.care-share{
    flex-basis: 55%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.care-share p{
    color: #716b6b;
    text-transform: none;
    padding: 15px 55px;
    font-weight: normal;
    line-height: 2;
    text-align: center;
}
.care-share img{
    width: 600px;
    height: 130px;
}
/* ///////////////////////////// SEARCH - EXPAND ///////////////////////////// */
.form-expand-search{
    justify-content: center;
    align-items: center;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -25px;
    z-index: 99999;
    display: none;
}
.form-expand-search form{
    position: relative;
}
.form-expand-search form input[type="text"]{
    width: 500px;
    background: #eee;
    border: none;
    padding: 0px 20px;
}
.form-expand-search form button{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 23px;
    margin-right: 6px;
    color: #6d6666;
}
.form-expand-search span{
    color: #6d6666;
    font-size: 30px;
    display: block;
    margin: 0px 5px;
    cursor: pointer;
}

.display-recent-results{
    z-index: 99999999999;
    position: absolute;
    left: 17%;
    top: 120px;
    background: #fff;
    padding: 50px 80px 20px;
    box-sizing: content-box;
    border-radius: 15px;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    display: none;
}

.wp-featured-keywords p, .recently-viewed p, .recently-viewed ul li a:last-child{
    margin: 4px 0px;
    font-size: 17px;
    color: #231F20;
    display: inline-block;
}
.featured-keywords{
    justify-content: start;
}
.featured-keywords a{
    border: 1px solid #aebbc1;
    border-radius: 15px;
    display: block;
    padding: 7px 12px;
    color: #231F20;
    margin: 0px 5px;
}
.recently-viewed ul{
    margin-top: 20px;
}
.recently-viewed ul li, .display-latest-results ul li{
    margin: 0px 10px;
}
.recently-viewed ul li a:last-child {
    font-size: 14px;
}
.recently-viewed ul li a img, .product-thumb{
    max-width: 200px;
    height: 300px;
    border-radius: 5px;
}

.display-latest-results{
    position: absolute;
    left: 17%;
    top: 120px;
    background: #fff;
    padding: 50px 80px 20px;
    box-sizing: content-box;
    border-radius: 15px;
    width: 840px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    display: none;
}
.display-latest-results h5{
    display: block;
    padding: 6px 20px;
    font-size: 14px;
    font-weight: bold;
}
.display-latest-results ul{
    justify-content: start;
}
.display-latest-results a:last-child{
    color: #ffff;
    background: #3856db;
    padding: 15px 28px;
    border-radius: 15px;
}

.title{
    display: inline-block;
    color: #333;
    padding: 10px 5px;
}


.display-latest-results ul li p{
    display: inline-block;
    padding: 10px 5px;
}

.new-price{
    font-weight: bold;
}
.old-price{
    color: #aca7a7;
}
.percent-discount{
    color: red;
}

/* ///////////////////////////// CART - EXPAND ///////////////////////////// */

.show-cart-buy{
    position: absolute;
    top: 83px;
    right: -15px;
    background: #fff;
    border-radius: 11px;
    padding: 16px;
    width: 375px;
    display: none;
    z-index: 100000;
}

.num-cart p{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.num-cart p span{
    color: #000;
}
.num-cart p a{
    color: #2f5acf;
}
.list-buy{
    padding: 20px 0px;
}
.list-buy ul{
    flex-wrap: wrap;
}
.list-buy ul li{
    align-items: center;
}

.product-thumb{
    width: 100px;
    height: 150px;
    border-radius: 15px;
}
.product-detail{
    padding: 30px 15px;
    font-size: 14px;
    color: #333;
}
.product-name{
    color: #3f3d3d;
    padding: 10px 0px 3px 0px;
    display: block;
    font-weight: 600;
}
.style{
    padding: 5px 0px 20px 0px;
}
.product-detail p .new-price{
    font-size: 17.5px;
}
.num{
    padding: 10px 0px;
}
.button-delete{
    color: #b3abab;
    font-size: 15px;
}

/* ///////////////////////////// ACCOUNT - EXPAND ///////////////////////////// */

.show-info-account{
    position: fixed;
    top: 0;
    right: 0px;
    background: #fff;
    width: 490px;
    padding: 16px 0px;
    box-sizing: content-box;
    z-index: 9999999999; 
    display: none;
}

.show-info-account .wp-hello-account .line{
    position: absolute;
    bottom: 545px;
    width: 100%;
    background: #c4c0c0;
    height: 1px;
}
.hello-account{
    max-width: 435px;
    position: fixed;
    padding: 0px 115px 0px 32px;
}
.hello-account h2{
    color: #231f20;
    font-size: 36px;
    padding: 10px 0px;
    cursor: auto;
}
.hello-account img {
    max-width: 82px;
    height: 34px;
}
.body{
    padding: 36px;
    overflow: auto;
    height: 530px;
    margin-top: 100px;
}
.account-line{
    background: #f1f1f1;
    padding: 12px 16px;
    border-radius: 10px;
}
.spending {
    margin: 16px 0px;
    color: #353233;
    font-size: 14px;
    cursor: auto;
}
.spending p:last-child {
    display: flex;
    align-items: center;
}
.spending p:last-child img{
    max-width: 62px;
    height: 26px;
    padding: 0px 3px;
}
.price{
    color: #2F5ACF;
    font-size: 24px;
    font-weight: 550;
    padding: 10px 0px;
}

.line-ranking .line{
    border-top: 4px solid #d9d9d9;
    border-radius: 2px;
}
.line-ranking p{
    color: rgba(0, 0, 0, 0.5333333333);
    font-size: 14px;
    font-style: italic;
    margin: 14px 0px;
    cursor: auto;
}

.milestones span{
    width: 15px;
    height: 15px;
    background: #2F5ACF;
    border-radius: 10px;
    border: 3px solid #fff;
}

.ranking-icons{
    padding: 7px 0px;
}

.ranking-icons ul li img{
    width: 25px;
    height: 26px;
}

.coolcash-coolclub{
    gap: 20px;
    margin: 15px 0px;
    font-size: 18px;
}
.coolcash{
    flex-basis: 64%;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 12px 16px;
    color: rgba(0, 0, 0, 0.6) ;
    cursor: auto;
}
.coolcash p:first-child{
    padding: 5px 0px;
}
.coolcash p:nth-child(2){
    color: #000;
    font-weight: bold;
    padding: 5px 0px;
}
.coolcash p:last-child{
    font-size: 14px;
    padding: 5px 0px;
}

.coolclub{
    flex-basis: 36%;
    background: #000;
    border-radius: 5px;
    padding: 12px 16px;
}
.coolclub a{
    color: #ffff;
    line-height: 1.5;
}
.coolclub i{
    font-size: 21px;
    color: #ffff;
}

.special-orders{
    color: #231F20;
}
.special-orders h3{
    font-size: 24px;
}
.special-orders ul{
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    gap: 30px;
    padding: 20px 0px;
    font-size: 16px;
}
.special-orders ul li{
    background: #f1f1f1;
    border-radius: 8px;
    padding: 15px 20px;
    cursor: auto;
}
.special-orders ul li div{
    width: 250px;
}
.title-voucher {
    color: #000;
    font-weight: bold;
    padding: 10px 0px;
}
.desc-voucher{
    color: #231F20;
    font-size: 14px;
    padding: 0px 10px 25px 0px;
}
.expiry{
    color: #7c7979;
    font-style: italic;
    font-size: 12px;
}
.use-immediately-voucher{
    margin: 10px 0px;
    display: inline-block;
    color: #000;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
}
.use-immediately-voucher:hover{
    background-color: #000000;
    color: #fff;
}
.others-tools{
    margin: 20px 0px;
}
.others-tools ul{
    flex-wrap: wrap;
    gap: 20px;
} 
.others-tools ul li{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background: #f1f1f1;
    padding: 14px;
}
.others-tools ul li a img{
    width: 42px;
    height: 42px;
    margin: 0px 0px 9px 19px;
}
.others-tools ul li a span{
    font-size: 16px;
    display: block;
    color: #000;
    text-align: center;
}
.redirect-account{
    background: #2f5acf;
}
.redirect-account:hover{
    background: #34363b;
}
.redirect-account a{
    color: #ffff;
    text-align: center;
    display: block;
    padding: 24px;
    font-size: 16px;
}