.site-homepage {
    padding-top: 148px;
}
/* ///////////////////////////// BANNER ///////////////////////////// */
.slide-banner {
    display: none;
}

.slide-banner img {
    vertical-align: middle;
    max-width: 100%;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.active {
    background-color: #717171;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.homepage-banner .btn-next-prev{
    display: flex;
    position: absolute;
    right: 0;
    top: 50%;
    flex-wrap: wrap;
    gap: 12px;
}
.homepage-banner .btn-prev,.homepage-banner .btn-next{
    flex-basis: 75%;
    background: none;
    border: none;
    cursor: pointer;
}
.homepage-banner .btn-prev i{
    font-size: 25px;
    color: #fff;
}
.homepage-banner .btn-next i{
    font-size: 25px;
    color: #fff;
}

/* ///////////////////////////// SLIDESHOW - PRODUCT ///////////////////////////// */
.wp-homepage-products{
    margin-top: 64px;
    position: relative;
}

.homepage-products h3{
    font-size: 28px;
    color: #000;
}

.homepage-products .title{
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: center;
}
.homepage-products .title h3{
    font-weight: bold;
    color: #231F20;
}
.homepage-products .title a{
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 0px 20px;
    text-decoration: underline;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 540;
    text-decoration-color: rgb(35, 31, 32);
}
.homepage-products h3 span:first-child{
    font-weight: bold;
    cursor: pointer;
}
.homepage-products h3 span:last-child{
    color: #b7b1b1;
    font-weight: bold;
    cursor: pointer;
}
.homepage-products h3 span:last-child:hover{
    color: #000;
    transition: color 0.5s;
}
.homepage-products h3 span:nth-child(2){
    color: #b7b1b1;
    padding: 0px 10px;
}

.pre-btn, .nxt-btn{
    position: absolute;
    top: 55%;
    
    background: black;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.pre-btn {
    right: 15px;
}
.nxt-btn{
    left: 15px;
}
.pre-btn .fa-arrow-right, .nxt-btn .fa-arrow-left{
    font-size: 20px;
}

.product-container{
    margin-top: 20px;
}
.product-container.category{
    margin-top: 0;
}
.product-container.category .product-card .product-image img{
    width: 330px;
    max-width: 330px;
    height: 452px;
}
.product-container.category .product-card .product-image .quickly-add-cart{
    width: 280px;
    height: 101px;
}
.product-card{
    flex-basis: 15%;
    padding: 10px;
}
.product-image{
    position: relative;
}
.product-image:hover .quickly-add-cart{
    display: block;
}
.product-image img{
    width: 260px;
    max-width: 267px;
    height: 357px;
}

.quickly-add-cart{
    background: linear-gradient(0deg,rgba(0,0,0,.1),rgba(0,0,0,.1)),hsla(0,0%,100%,.4);
    border-radius: 5px;
    width: 210px;
    height: 122px;
    position: absolute;
    bottom: 22px;
    color: black;
    left: 25px;
    padding: 12px;
    display: none;
}
.quickly-add-cart p{
    font-weight: bold;  
}
.list-size{
    flex-wrap: wrap;
    gap: 7px;
    padding: 10px 0px;
}
.size-item{
    width: 40px;
    height: 35px;
    flex-basis: 15%;
    background: #fff;
    text-align: center;
    padding: 11px;
    font-size: 14px;
    align-items: center;
    display: flex;
    border-radius: 5px;
}
.size-item:hover{
    background: black;
}
.size-item a{   
    cursor: pointer;
    display: block;
    color: black;
}
.size-item:hover a{
    color: #fff;
}
.product-info{
    padding: 10px 0px;
}
.product-types{
    gap: 2px;
    justify-content: start;
    align-items: center;
}
.product-types img{
    max-width: 267px;
    width: 35px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.product-types img:first-child{
    border-radius: 15px;
    border: 1px solid #333;
    padding: 2px;
    box-sizing: content-box;
}

.product-title{
    font-size: 14px;
    color: #231F20;
    display: block;
    padding: 10px 0px;
}
.short-desc{
    display: block;
    font-size: 14px;
    color: #0009;
    margin-bottom: 8px;
}
.price-new{
    font-size: 14px;
    color: #242424;
    font-weight: 700;
}
.price-old{
    color: #C4C4C4;
    padding: 0px 10px;
}
.percent-discount{
    color: #FF0000;
}
/* ///////////////////////////// BANNER - BLOCK ///////////////////////////// */
.banner-block{
    max-width: 100%;
    padding-top: 34px;
    position: relative;
}
.banner-block a img{
    max-width: 100%;
    border-radius: 5px;
}
.desc-banner{
    position: absolute;
    left: 0;
    top: 30%;
    padding: 50px;
}
.desc-banner p{
    font-size: 16px;
    padding: 8px;
}
.desc-banner .endow{
    color: #2F5ACF;
    font-weight: bold;
}
.desc-banner a{     
    font-size: 16px;
    display: inline-block;
    color: #fff;
    padding: 15px 30px;
    font-weight: bold;
    background: black;
    border-radius: 20px;
    margin: 15px;
}
.title-banner{
    text-transform: uppercase;
    font-size: 80px;
    font-weight: bold
}

.sale {
    margin-left: 44px;
}

.sale .title-banner{
    color: #fff;
}

/* ///////////////////////////// HOMEPAGE - COLLECTIONS ///////////////////////////// */
.homepage-collections{
    padding: 45px 0px;
}
.homepage-collections ul li{
    width: 334px;
    height: 458px;
    background: #5c5b5b;
    border-radius: 10px;
    border: none;
}
.homepage-collections ul li:hover a img{
    opacity: .5;
    transition: all 0.2s;
}
.homepage-collections ul li a {
    display: block;
}
.homepage-collections ul li a img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* ///////////////////////////// HOMEPAGE - IRL ///////////////////////////// */
.wp-homepage-irl{
    position: relative;
    margin: 60px 0px;
}
.btn-next-prev-irl {
    align-items: center;
}

.pre-btn-irl, .nxt-btn-irl{
    position: absolute;
    top: 55%;
    background: none;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}
.pre-btn-irl{
    left: 20px;
}
.nxt-btn-irl{
    right: 20px;
}
.pre-btn-irl .fa-arrow-left, .nxt-btn-irl .fa-arrow-right{
    font-size: 25px;
}

.homepage-irl{
    margin-top: 40px;
}

.irl-title{
    text-align: center;
    font-family: Pangea, sans-serif;
}
.irl-title h1{
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    letter-spacing: 1.2px;
}
.irl-title p{
    color: rgb(35, 31, 32);
    margin-top: 10px;
}
.product-card-irl{
    width: 253px;
    height: 269px;
    position: relative;
}
.product-card-irl i{
    position: absolute;
    top: 0;
    right: 0;
    background: #000;
    padding: 11px;
    margin: 10px;
    color: #fff;
    border-radius: 21px;
}
.product-card-irl a{
    display: block;
}
.product-card-irl img{
    max-width: 100%;
    border-radius: 6px;
}

/* ///////////////////////////// CARE - SHARE ///////////////////////////// */
.homepage-care-and-share{
    padding: 25px 0px;
    position: relative;
}

.care-share-images a {
    display: block;
}
.care-share-images a img{
    max-width: 100%;
}
.care-share-content{
    position: absolute;
    top: 0;
    padding: 70px;
}
.care-share-content img {
    width: 337px;
    height: 100px;
}
.care-share-content p {
    color: #F5F5F5F5;
    font-size: 52px;
    letter-spacing: 2px;
    margin: 16px 0px;
    font-weight: 400;
    line-height: 1.3;
}
.care-share-content a {
    background: #fff;
    display: inline-block;
    padding: 15px 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}
.care-share-content a:hover {
    background: #cac8c8;
}
/* ///////////////////////////// BRAND ///////////////////////////// */
.homepage-brands{
    padding: 20px 0px;
}
.homepage-brands ul li {
    position: relative;
    flex-basis: 45%;
}
.homepage-brands ul li img{
    width: 686px;
    height: 463px;
}

.title-collection{
    padding: 0px 40px;
    position: absolute;
    top: 35%;
}
.title-collection h4{
    color: rgba(255, 255, 255, 0.71);
    font-size: 16px;
    letter-spacing: 1.6px;
    font-family: Pangea, sans-serif;
}
.title-collection h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px 0px 45px 0px;
}
.title-collection a{
    display: inline-block;
    background: rgb(255, 255, 255);
    color: #000;
    padding: 16px 50px;
    border-radius: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
.title-collection a:hover{
    background: rgb(209, 206, 206);
}

/* ///////////////////////////// VOUCHER ///////////////////////////// */

.voucher{
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    display: none;
}

.button-show-voucher{
    display: flex;
    font-size: 14px;
    align-items: center;
    font-weight: bold;
    background: #2F5ACF;
    padding: 15px 150px;
    text-transform: uppercase;
    color: #Fff;
    text-align: left;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.button-show-voucher img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

.icon-arrow-down {
    padding: 0 12px;
    font-size: 20px;
}

.voucher ul li{
    width: 340px;
    height: 190px;
}
.show-voucher {
    padding: 35px;
    background: #fff;
}
.show-voucher ul li a {
    padding: 32px 0px;
}

.show-voucher ul {
    gap: 30px;
}
.show-voucher ul li a img {
    max-width: 100%;
}

