
.wp-show-summary-product {
    background-color: #fff;
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 1000;
    top: 0;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    /* display: none; */
}

.show-summary-product .wp-ranking-price {
    gap: 20px;
}
.show-summary-product .wp-ranking-price .img-product{
    width: 60px;
}
.show-summary-product .wp-ranking-price .img-product img{
    max-width: 100%;
}
.show-summary-product .ranking-price{
    flex-wrap: wrap;
    gap: 0px;
}
.show-summary-product .price{
    color: #2F5ACF;
    font-size: 24px;
    font-weight: 550;
    gap: 5px;
    padding: 0;
}
.show-summary-product .price .old-price{
    text-decoration: line-through;
}
.show-summary-product .ranking{
    flex-basis: 100%;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.show-summary-product .fa-star{
    color: #2F5ACF;
}

.show-summary-product .desc{
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
    gap: 10px;
}
.show-summary-product .group-color{
    border-right: 1px solid #D9D9D9;
    padding-left: 20px;
    padding-right: 20px;
}
.show-summary-product .group-color .title span{
    font-weight: bold;
}
.show-summary-product .group-color .list-color li{
    width: 32px;
    height: auto;
}

.show-summary-product .group-color .list-color li img{
    max-width: 100%;
    border-radius: 10px;
    border: 2px solid #2226b0;
    padding: 2px;
    width: 40px;
    height: 31px;
}

.show-summary-product .list-color{
    align-items: center;
    justify-content: start;
    gap: 20px;
}
.show-summary-product .list-size{
    align-items: center;
    justify-content: start;
    gap: 16px;
}
.show-summary-product .list-size li{
    background: #D9D9D9;
    padding: 10px 15px;
    border-radius: 8px;
}
.show-summary-product .list-size li a{
    color: #000;
}
.show-summary-product .group-size{
    padding-left: 10px;
    padding-right: 10px;
}
.show-summary-product .group-size .title{
    padding-bottom: 0;
}
.show-summary-product .num-size{
    align-items: center;
    gap: 20px;
}
.show-summary-product .num-size input[type="number"]{
    width: 90px;
    height: 35px;
    border-radius: 20px;
    padding: 20px 25px;
    font-weight: bold;
    border-color: #000;
}
.show-summary-product .num-size .choose-size{
    background: #000;
    color: #fff;
    padding: 17px 65px;
    border-radius: 23px;
}

.wp-display-product .tab-link{
    margin: 31px 0px;
}
.wp-display-product .list-tab-link{
    justify-content: start;
}
.wp-display-product .link-item{
    padding: 0px 3px;
}
.wp-display-product .list-tab-link .link-item a:first-child{
    color: #808080 !important;
}
.wp-display-product .list-tab-link .link-item a:last-child{
    color: #000 !important;
}
.display-product{
    gap: 60px;
}

.tab-redirect {
    justify-content: start;
}
.display-product .img-relate-product .tab-redirect li{
    padding: 0px 2px 30px 10px;
}
.display-product .img-relate-product .tab-redirect li:first-child a{
    display: block;
    background: #000 !important;
    /* color: #000; */
    width: 72px;
    height: 3px;
}

.display-product .img-relate-product .tab-redirect li a{
    display: block;
    background: #d9d9d9 !important;
    /* color: #000; */
    width: 94px;
    height: 3px;
    cursor: pointer;
}

.display-product .img-relate-product .thumbnail-product{
    width: 740px;
    height: 1089px;
    position: relative;
}

.display-product .img-relate-product .thumbnail-product>a{
    display: block;
}
.display-product .img-relate-product .thumbnail-product>a img{
    max-width: 100%;
    border-radius: 20px;
}

.display-product .img-relate-product .thumbnail-product .option-style-product{
    position: absolute;
    left: 15px;
    top: 25px;
    flex-wrap: wrap;
    gap: 100%;
}
.display-product .img-relate-product .thumbnail-product .option-style-product li{
    width: 46px;
    height: auto;
    margin: 5px 25px;
    border: 1px solid #333;
    padding: 5px;
    border-radius: 12px;
    opacity: 0.5;
}
.display-product .img-relate-product .thumbnail-product .option-style-product li:first-child{
    opacity: 1 !important;
}

.display-product .img-relate-product .thumbnail-product .option-style-product li a{
    display: block;
}
.display-product .img-relate-product .thumbnail-product .option-style-product li a img{
    max-width: 100%;
}
.display-product .img-relate-product .thumbnail-product .button-next-prev{
    justify-content: space-between;
    gap: 88%;
    position: absolute;
    top: 50%;
    width: 100%;
}

.display-product .img-relate-product .thumbnail-product .btn-next, .btn-prev{
    color: #fff;
    color: #fff;
    background: none;
    border: none;
    cursor: pointer;
}
.display-product .img-relate-product .thumbnail-product .btn-next i, .btn-prev i{
    color: #000;
}

.wp-desc-product .desc{
    display: flex;
    flex-wrap: wrap;
    gap: 100%;
    border-bottom: 1px solid #d2c8c8;
}
.wp-desc-product .desc .title{
    font-size: 32px;
    font-weight: bold;
}
.wp-desc-product .desc .sub-title{
    padding: 0 10px 20px 12px;
}
.wp-desc-product .desc .ranking{
    gap: 20px;
}
.wp-desc-product .desc .ranking .list-star i{
    color: blue;
}
.wp-desc-product .desc .price{
    gap: 20px;
}
.wp-desc-product .desc .discount-code p{
    padding: 20px 0px 10px 0px;
}
.wp-desc-product .desc .list-code{
    gap: 20px;
    align-items: center;
    padding-bottom: 20px;
}
.wp-desc-product .desc .list-code li{
    background: rgb(201, 0, 0);
    padding: 10px;
    border-radius: 6px;
}
.wp-desc-product .desc .list-code li a{
    color: #fff;
}
.wp-desc-product .desc .group-color .title{
    font-size: 14px;
}
.wp-desc-product .desc .group-color .title span{
    font-weight: bold;
}
.wp-desc-product .desc .group-color .list-color{
    gap: 20px;
}
.wp-desc-product .desc .group-color .list-color li{
    width: 50px;
    height: 50px;
    border-radius: 16px;
    padding: 5px;
    border: 2px solid #3b3bc5;
}
.wp-desc-product .desc .group-color .list-color li a img{
    max-width: 100%;
    width: 50px;
    height: 38px;
    border-radius: 6px;
}
.wp-desc-product .desc .group-size{
    padding-top: 20px;
    padding-bottom: 40px;
}
.wp-desc-product .desc .group-size .title{
    padding-top: 20px;
    padding-bottom: 0px;
}

.wp-desc-product .desc .group-size div:first-child{
    align-items: center;
}
.wp-desc-product .desc .group-size div:first-child .title{
    font-size: 14px;
    padding: 0;
}
.wp-desc-product .desc .group-size div:first-child a{
    color: #1053b0;
    text-decoration: underline;
}
.wp-desc-product .desc .group-size .list-size{
    align-items: center;
    gap: 20px;
}
.wp-desc-product .desc .group-size .list-size li{
    background: rgb(217, 217, 217);
    width: 30px;
    height: 20px;
    padding: 20px 30px;
    border-radius: 13px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.wp-desc-product .desc .group-size .list-size li a{
    color: #000;
    display: inline-block;
    text-align: center;
}
.wp-desc-product .desc .num-size{
    align-items: center;
    gap: 30px;
    padding-bottom: 30px;
}
.wp-desc-product .desc .num-size input{
    width: 110px;
    height: 40px;
    border-radius: 32px;
    font-weight: bold;
    padding: 25px 20px;
    font-size: 16px;
    border: 2px solid #b4afaf;
}
.wp-desc-product .desc .num-size a{
    background: #333;
    color: #ffffff;
    padding: 21px 156px;
    display: block;
    border-radius: 25px;
}

.support{
    padding: 45px;
    border-bottom: 1px solid #ccc3c3;
}
.list-support{
    flex-wrap: wrap;
    align-items: center;
    gap: 5%;
}
.list-support li{
    padding: 15px 1px;
}
.list-support li img{
    display: block;
    padding: 15px 45px;
}
.list-support li p{
    text-align: center;
    color: #231F20;
}
.featured{
    padding: 10px 0px 23px 0px;
}
.featured .featured-title{
    font-weight: bold;
    padding: 10px 0px;
    color: #000;
}
.featured .featured-title .btn-close{
    background: none;
    border: none;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.featured-desc ul{
    list-style: circle;
    flex-wrap: wrap;
    gap: 100%;
    line-height: 2;
    padding: 0px 0px 0px 32px;
}
.featured-desc ul li{
    color: #231F20;
}
.detail-product{
    border-top: 1px solid #aca4a4;
    padding: 25px 0px;
    position: relative;
}

.detail-product p{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.desc-detail{
    padding: 20px 0px;
    justify-content: center;
    gap: 100%;
    flex-wrap: wrap;
    height: 900px;
    overflow: hidden;
}
.desc-detail img{
    width: 992px;
    max-width: 100%;
    height: auto;
    padding: 20px 0px;
}
.btn-expand-detail {
    position: absolute;
    height: 200px;
    background-image: linear-gradient(transparent,#ffffff);
    height: 100%;
    width: 100%;
}

.expand-detail{
    background: #ffff;
    color: #000;
    padding: 15px 90px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #cbc6c6;
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 43%;
}
.expand-detail:hover{
    background: #e6e4e4;
}
.favorite-product{
    position: relative;
    margin-top: 100px;
}
.favorite-product p{
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}
.list-favorite-product{
    padding: 30px 0px;
    gap: 20px;
}

.favorite-item .img-product{
    width: 332px;
}
.favorite-item .img-product a img{
    border-radius: 15px;
    max-width: 100%;
}
.desc-img-product{
    padding: 10px 0px;
}

.desc-img-product .title a{
    font-size: 14px;
    color: #000;
}
.desc-img-product .price{
    font-size: 14px;
    padding: 6px 10px;
}
.reviews-comments{
    justify-content: start;
    gap: 80px;
}
.reviews{
    background: #f1f1f1;
    padding: 32px 40px;
    border-radius: 15px;
    color: #333;
    width: 300px;
    height: 230px;
}
.reviews p{
    font-weight: bold;
    text-align: center;
    font-size: 16px;
}
.reviews .num-star{
    font-size: 64px;
    text-align: center;
    display: block;
    padding: 10px;
}
.reviews .icons-star{
    display: block;
    text-align: center;
    font-size: 30px;
}
.reviews .icons-star i{
    color: #ffcc00;
}
.num-review{
    font-size: 14px;
    text-align: center;
    padding: 15px 0px 0px 0px;
    font-style: italic;
    color: #4d4d4d;
}
.comment{
    flex-basis: 70%;
}
.filter-comment{
    border-bottom: 1px solid #c6c1c1;
    gap: 20px;
    justify-content: start;
    padding: 20px 0px;
}
.filter-comment select{
    border-radius: 20px;
    padding: 10px 45px;
    font-weight: bold;
}
.desc-comments{
    border-bottom: 1px solid #d6d0d0;
    padding: 25px 15px;
}
.list-comments{
    justify-content: start;
    gap: 200px;
}
.list-comments .icons-star{
    font-size: 20px;
}
.list-comments .icons-star i{
    color: #3b3be8;
}
.list-comments .author{
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0px;
}
.style-product i{
    font-size: 12px;
    padding: 2px 0px;
    color: #a49c9c;
}
.original{
    padding: 9px 0px;
    font-weight: bold;
}
.content-comment{
    padding: 10px 0px;
}
.pagination{
    text-align: center;
    padding: 20px 0px;
    font-weight: bold;
    font-size: 16px;
}